apiVersion: v1
kind: Service
metadata:
  labels:
    tags.datadoghq.com/service: store-frontend
    tags.datadoghq.com/env: ENV
    app: ecommerce
  name: frontend
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
      name: http
  selector:
    tags.datadoghq.com/service: store-frontend
    tags.datadoghq.com/env: ENV
    app: ecommerce
  type: ClusterIP
